<div class="footer-wrapper">
    <div class="footer-details">
      <div class="conf-image">
        <img src={{ url_for('static', filename='images/conf-footer-logo.svg') }} />
      </div>
      <div class="copyright-details">
        <div class="copyright-text">Copyright 2020 PyCon India</div>
        <div class="copyright-logo"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-nd/4.0/88x31.png" /></a></div>
      </div>
      <div class="social-media-details">
        <div>
            <a href="https://www.facebook.com/PyConIndia/" rel="nofollow noreferrer" target="_blank">
              <img src="{{ url_for('static', filename='images/facebook-logo.svg') }}" alt="facebook">
            </a>
        </div>
    
        <div>
            <a href="https://twitter.com/pyconindia/" rel="nofollow noreferrer" target="_blank">
              <img src="{{ url_for('static', filename='images/twitter-logo.svg') }}" alt="twitter">
            </a>
        </div>
    
        <div>
            <a href="https://pyconindia.zulipchat.com/" rel="nofollow noreferrer" target="_blank">
              <img src="{{ url_for('static', filename='images/chat-logo.svg') }}" alt="zulip">
            </a>
        </div>
    
        <div>
            <a href="https://mail.python.org/mailman/listinfo/inpycon" rel="nofollow noreferrer" target="_blank">
              <img src="{{ url_for('static', filename='images/email-logo.svg') }}" alt="mailing list">
            </a>
        </div>
    
        <div>
            <a href="https://www.linkedin.com/company/pyconindia/" rel="nofollow noreferrer" target="_blank">
              <img src="{{ url_for('static', filename='images/linkedin-logo.svg') }}" alt="linkedin">
            </a>
        </div>  
      </div>
    </div>
</div>
  