{% extends '_base.html' %}
{% block title %}Badge{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-details">
            <!-- Show the action buttons only if the badge is for currently logged in user -->
            {% if session.get("uuid", None) == attendee.uuid %}
            <h1 class="title">Your PyCon India 2021 Badge</h1>
            <div class="flex badge-options" style="margin-bottom: 1.75rem;">
                <a href="{{ url_for('edit_badge', id=attendee.id) }}">Edit</a>
                <a href="https://in.pycon.org/2020/assets/PyConIndia2020.ics">Calendar</a>
                <!-- <a href="{{ url_for('download_badge', id=attendee.id) }}">Download</a> -->
                <a href="{{ tweet_link }}">Tweet</a>
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
            {% endif %}
            <div class="description">
                <div class="badge">
                    <img class="header" src={{ url_for('static', filename='images/header_date.svg') }} />
                    <div class="badge-content">
                        <div class="flex" style="margin-top: 0.5rem;">
                            <div class="image-container">
                                <img src="{{ attendee.avatar_url }}" class="user-avatar" alt="User avatar">
                                <img src="{{ url_for('static', filename='images/defaultdp.png')}}" alt="User avatar">
                            </div>
                        </div>
                        <div class="flex" style="margin-top: 0.5rem;">
                            <div class="details-container">
                                <p class="fullname">{{ attendee.fullname }}</p>
                                {% if attendee.twitter_id %}
                                <p class="twitter"><img src="{{ url_for('static', filename='images/twitter-round.svg') }}" style="margin-right: 5px;"/> <a href="https://twitter.com/{{ attendee.twitter_id }}">@{{ attendee.twitter_id }}</a></p>
                                {% endif %}
                            </div>
                        </div>
                        <div class="about">
                            <p class="label">Talk to me about!!</p>
                            {% if attendee.about %}
                                <p class="content">{{ attendee.about }}</p>
                            {% else %}
                                <p class="content">I am attending PyCon India 2021. #PyConIndia2021</p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="badge-footer">
                        <div class="flex">
                            <span style="color: white;">Attendee</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
