<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Your PyCon India 2020 Badge</h1>
    <!-- Show the action buttons only if the badge is for currently logged in user -->
    {% if session.get("uuid", None) == attendee.uuid %}
    <a href="{{ url_for('edit_badge', id=attendee.id) }}">Edit</a>
    <a href="{{ url_for('download_badge', id=attendee.id) }}">Download</a>
    <a href="{{ url_for('logout') }}">Logout</a>
    <a href="">Tweet</a>
    {% endif %}
    <p><img src="{{ attendee.avatar_url }}" alt="User avatar"></p>
    <p>Fullname: {{ attendee.fullname }}</p>
    <p>Username: {{ attendee.username }}</p>
    <p>Twitter ID: {{ attendee.twitter_id }}</p>
    <p>About: {{ attendee.about }}</p>
    <p>Booking ID: {{ attendee.booking_id }}</p>
</body>
</html>
