<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Badges</title>
</head>
<body>
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <h1>Enter your booking details recieved on email</h1>
    <form action="" method="POST">
        {{ form.hidden_tag() }}
        <p>
            {{ form.fullname.label }}<br>
            {{ form.fullname }}<br>
            {% for error in form.fullname.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.twitter_id.label }}<br>
            {{ form.twitter_id }}<br>
            {% for error in form.twitter_id.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.username.label }}<br>
            {{ form.username }}<br>
            {% for error in form.username.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <p>
            {{ form.about.label }}<br>
            {{ form.about }}<br>
            {% for error in form.about.errors %}
            <span style="color: red;">{{ error }}</span>
            {% endfor %}
        </p>
        <!-- TODO: Need to support upload an avatar when support is added to model and form -->
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>
