{% extends '_base.html' %}
{% block title %}Verify Email{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-details">
          <a href="//in.pycon.org">
            <img class="logo" src={{ url_for('static', filename='images/conf-footer-logo.svg') }} />
          </a>
          <h1 class="title">Enter your email</h1>
          <div class="description">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-field">
                    <div class="flex">
                        {{ form.email.label }}
                        {{ form.email }}
                    </div>
                    {% for error in form.email.errors %}
                    <span style="color: red; font-size: 1rem;">{{ error }}</span>
                    {% endfor %}
                </div>
                <p>{{ form.submit(class_="primary-button") }}</p>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
