{% extends '_base.html' %}
{% block title %}Verify Email{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-details">
          <h1 class="title">Enter your email</h1>
          <div class="description">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <p>
                    {{ form.email.label }}
                    {{ form.email }}<br>
                    {% for error in form.email.errors %}
                    <span style="color: red;">{{ error }}</span>
                    {% endfor %}
                </p>
                <p>{{ form.submit(class_="primary-button") }}</p>
            </form>
          </div>
        </div>
    </div>
{% endblock %}
