{% extends '_base.html' %}
{% block title %}Verify Booking Details{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <div class="page-details">
          <a href="//in.pycon.org">
            <img src="{{ url_for('static', filename='images/datetime.png') }}" class="logo" alt="" title=""><br/>
            <img src="{{ url_for('static', filename='images/pycon.png') }}" class="logo" alt="" title="">
          </a>
          <h1 class="title">Enter your booking details</h1>
          <div class="info">If you don't have a booking ID, please go <a href="https://www.townscript.com/e/pycon-india-2020">here</a> and buy your tickets. If you already have booked your tickets but still don't have booking ID, please contact <a href="mailto:tickets@in.pycon.org">tickets@in.pycon.org</a></div>
          <div class="description">
            <form action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-field">
                    <div class="flex">
                        {{ form.booking_id.label }}
                        {{ form.booking_id }}
                    </div>
                    {% for error in form.booking_id.errors %}
                    <span style="color: red; font-size: 1rem;">{{ error }}</span>
                    {% endfor %}
                </div>
                <div class="form-field">
                    <div class="flex">
                        {{ form.order_id.label }}
                        {{ form.order_id }}
                    </div>
                    {% for error in form.order_id.errors %}
                    <span style="color: red; font-size: 1rem;">{{ error }}</span>
                    {% endfor %}
                </div>
                {{ form.submit(class_='primary-button') }}
            </form>
          </div>
        </div>
    </div>
{% endblock %}
